<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="{{url_for('static',filename='js/script.js')}}"></script>
<!--	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
	<title>날씨 테스트</title>
</head>
<body>
	오늘의 해뜨는 시간
	<p id="sunrise">sunrise</p>
	오늘의 해 지는 시간
	<p id="sunset">sunset</p>
</body>
</html>